<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 · Phoenix Framework</title>
  </head>
  <body>
    <main>
      <h1>Request not found</h1>
      <pre><%= @conn.request_path %></pre>
    </main>
  </body>
</html>

